{% extends "base-en.twig" %}

{% block main %}

</div>
<h1>DLC</h1>
<p>
    Downloadable Content (DLC) refers to any extension of a computer program or video game that can be downloaded, for
    free or for a fee.
</p>
<p>
    The majority of DLCs are extensions of video games. If the DLC is paid, payment can be made through micropayment,
    credit card or in exchange for reward points accumulated by purchasing other products, as permitted for example on
    commercial offers for Microsoft's Xbox, Xbox 360 and Xbox One consoles.
</p>
<p>
    Does not include free DLCs as they are automatically installed upon purchase of the game
</p>
<ul class="menu">
    {% for element in dlccargo %}
    <li><a href="#{{element.id}}">{{element.titre}}</a></li>
    {% endfor %}
</ul>
{% for element in dlccargo %}

<div class="dlc">

    <img src="{{ element.image}}" alt="{{ element.titre }}">


    <div class="info">
        <h2 id="{{ element.id }}">{{ element.titre }}</h2>
        <h3>{{ element.soustitre1 }}</h3>
        <p>{{ element.texte }}</p>
        <h3>{{ element.soustitre2 }}</h3>
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Cargo Types</th>
                </tr>
            </thead>
            <tbody>
                {% for row in element.tableau %}
                {% if row.categorie is defined %}
                <tr>
                    <td>{{ row.categorie }}</td>
                    <td>{{ row.type_cargo }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>

        <h3>{{ element.prix}}</h3>
        <a href="{{element.lien}}" target="_blank"><button><i class="bi bi-steam"></i> {{ element.achat}}</button></a>
    </div>

</div>
{% endfor %}


{% endblock main %}

{% block title %}Cargo DLC{% endblock title %}
