{% extends "base.twig" %}

{% block main %}
</div>
<h1>Les camions dans Euro Truck Simulator 2</h1>
    <p>
        Dans Euro Truck Simulator 2, les camions sont votre outil de travail essentiel pour réaliser des livraisons de
        marchandises à travers l'Europe et générer des revenus. Chaque camion possède des caractéristiques spécifiques
        (puissance moteur, capacité du réservoir, type de châssis) qui influencent directement vos performances et votre
        rentabilité.
    </p>
    <p>
        Le choix de votre camion dépend de votre niveau d'expérience et de votre budget. Les modèles plus performants
        sont plus chers mais permettent des livraisons plus rapides et plus lucratives. Certains camions nécessitent
        d'atteindre un niveau de déblocage spécifique, tandis que d'anciens modèles ne sont disponibles que sur le
        marché d'occasion.
    </p>
    <ul class="menu">
        {% for element in truck %}
        <li><a href="#{{element.id}}">{{element.titre}}</a></li>
        {% endfor %}
    </ul>

<div class="camions-container">
    {% for element in truck %}
    <div class="camion">
        <img src="{{ element.logo }}" alt="{{ element.marque }} Logo" class="logo">
        <div class="camion-info">
            <h2 id="{{element.id}}">{{ element.titre }}</h2>
            <img src="{{ element.image }}" alt="{{ element.titre }}">
            <h3>{{ element.titre_moteur }}</h3>
            <p>{{ element.moteur }}</p>            
            <h3>{{ element.titre_essence }}</h3>
            <p>{{ element.essence }}</p>            
            <h3>{{ element.titre_modele }}</h3>
            <p>{{ element.modele }}</p>            
            <h3>{{ element.titre_niveau }}</h3>
            <p>{{ element.niveau }}</p>            
            <h3>{{ element.titre_prix }}</h3>
            <p>{{ element.prix }}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock main %}

{% block title %}Camion Iveco{% endblock title %}